<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>user</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<style>
    body{
        width: 500px;
        margin: 4rem auto;
    }
    h1{
        color: blue;
    }
    h2{
        color: red;
    }
</style>
<body>
<header>

</header>
<main>
    <div>
        <h1>Users list</h1>
        <%= users.forEach(elm => { %>
            <h2><%= elm.name %></h2>
        <%= }) %>
        
    </div>
</main>
<footer>

</footer>
</body>