<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>form</title>
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<style>
    body{
        width: 500px;
        margin: 4rem auto;
    }
    input{
        display: block;
        margin: 1rem ;
        font-size: 20px;
        padding: 0.5rem;
        color: blue;
        border: 2px solid red;
        border-radius: 5px;
    }
    input:focus{
        color: blue;
        outline-color:blue
    }
</style>
<body>
<header>

</header>
<main>
    <form action="/users/new" method="post">
        <fieldset>
            <input type="text" name="name" id="" placeholder="enter user name">
            <input type="email" name="email" id="" placeholder="enter user email">
            <input type="number" name="number" id="" placeholder="enter user number">
            <input type="submit" value="add user">
        </fieldset>
    </form>
</main>
<footer>

</footer>
</body>