<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>form</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<style>
    form{
        width: 500px;
        margin: 5rem auto;
    }
    input, textarea{
        width: 90%;
        display: block;
        font-size: 20px;
        margin: 0.5rem;
        border: 2px solid red;
        border-radius: 3px;
        color: green;
    }
    fieldset{
        border-color: blue;
        border-radius: 5px;
    }
    
</style>
<body>
<header>

</header>
<main>
    <form action="/users" method="post">
        <fieldset>
            <input type="text" name="name" id="" placeholder="enter name">
            <input type="email" name="email" id="" placeholder="enter email">
            <textarea name="address" id="" cols="30" rows="5" placeholder="enter address"></textarea>
            <textarea name="bio" id="" cols="30" rows="5" placeholder="enter bio"></textarea>
            <input type="text" name="hobbies" placeholder="enter hobbies">
            <input type="submit" value="add user">
        </fieldset>
    </form>
</main>
<footer>

</footer>
</body>