<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>list</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>

</header>
<main>
    <div>
        <ul>
            <h2><%= student.name %></h2>
            <h3><%= student.email %></h3>

        </ul>
    </div>
</main>
<footer>

</footer>
</body>