<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>form</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<style>
    form{
        width: 500px;
        margin: 5rem auto;
    }
    input{
        width: 90%;
        display: block;
        font-size: 20px;
        margin: 0.5rem;
    }
</style>
<body>
<header>

</header>
<main>
    <form action="/users/<%= user._id %>/edit" method="post">
        <fieldset>
            <input type="text" name="name" id="" value="<%= user.name %>" placeholder="enter name">
            <input type="email" name="email" id="" value="<%= user.email %>" placeholder="enter email">
            <input type="number" name="number" id="" value="<%= user.number %>" placeholder="enter number">
            <input type="submit" value="add user">
        </fieldset>
    </form>
</main>
<footer>

</footer>
</body>