<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>users</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<style>
    body{
        width: 500px;
        margin: 2rem auto;
    }
    h1{
        color: red;
    }
    h2{
        margin: 1.5rem 0 0.7rem 0;
        padding: 0;
        color: seagreen;
    }
    h3, h4{
        margin: 0.5rem 0;
        padding: 0;
        color: blue;
    }
</style>
<body>
<header>

</header>
<main>
    <h1>List Of Users</h1>
    <div>
        <% users.forEach(user => { %>
            <a href="/users/<%= user._id %>">
                <h2><%= user.name %></h2>
            </a>
        <% }) %>
    </div>
</main>
<footer>

</footer>
</body>